@font-face {
    font-family: CozetteVector;
    src: url(./assets/fonts/CozetteVector.ttf);
}

@font-face {
    font-family: asciid;
    src: url(./assets/fonts/asciid.ttf);
}

:root {
    --window-bg-color: #ffeecc;
    --window-bg-color-alt: #ffeeccaa;
    --window-title-bg-color: #ffeecc;
    --window-text-color: #46425e;
    --window-text-color-alt: #46425eaa;
    --blush: #ff6973;
    /* really? yes :3 */
    --earthling: #00b9be;
}

body {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
    gap: 8px;
    font-family: "CozetteVector";
}

i {
    user-select: none;
}

.wallpaper {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    inset: 0;
    filter: brightness(0.5)
}

.p-top {
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content: space-between;
    width: 40rem;

    > .navigate {
        display: flex;
        align-items: start;
        font-size: 16px;
        gap: 8px;
        color: var(--window-bg-color);
        transition: background;
        font-weight: bold;
        user-select: none;

        > a {
            color: inherit;
            text-decoration: none;

            &[href]:hover {
                text-decoration: underline;
                text-decoration-style: wavy;
                text-decoration-color: var(--window-bg-color-alt);
            }
        }
    }
}

.window,
.status-cafe {
    display: grid;
    grid-template-columns: 8px 1fr 8px;
    grid-template-rows: 8px 24px 1fr 8px;
    image-rendering: pixelated;

    > .tl {
        background: url("./assets/images/components/top-left-corner.avif");
        width: 8px;
        height: 8px;
    }

    > .tr {
        background: url("./assets/images/components/top-right-corner.avif");
        width: 8px;
        height: 8px;
    }

    > .br {
        background: url("./assets/images/components/bottom-right-corner.avif");
        width: 8px;
        height: 8px;
    }

    > .bl {
        background: url("./assets/images/components/bottom-left-corner.avif");
        width: 8px;
        height: 8px;
    }

    > .t {
        background: url("./assets/images/components/top-border.avif") repeat-x;
    }

    > .b {
        background: url("./assets/images/components/bottom-border.avif")
            repeat-x;
    }

    > .l {
        background: url("./assets/images/components/left-border.avif") repeat-y;
    }

    > .r {
        background: url("./assets/images/components/right-border.avif") repeat-y;
    }

    .exit-button {
        background: url("./assets/images/components/exit-button.avif");
        width: 16px;
        height: 16px;
    }

    .rectangular-thing {
        background: url("./assets/images/components/rectangle.avif");
        width: 16px;
        height: 16px;
    }

    .minus-thing {
        background: url("./assets/images/components/minus.avif");
        width: 16px;
        height: 16px;
    }

    /* yeah,, i dont know what those things are called */
}

.window {
    max-width: 40rem;
    width: 40rem;

    > .content {
        background-color: var(--window-bg-color);
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 16px;
        overflow-y: scroll;
        scrollbar-width: none;
        width: 40rem;
        max-width: 40rem;
        height: 20rem;
        max-height: 20rem;
        display: flex;
        flex-direction: column;
        line-height: 1.6rem;
        font-size: 15px;
        color: var(--window-text-color);
        font-weight: 600;
        text-wrap-mode: wrap;
        text-align: left;

        ul {
            list-style-type: "⋆ ";
            margin: 0;
            padding-left: 1rem
        }

        h3 {
            font-size: 18px;
            margin: 0;
            text-align: center;
        }

        i {
            color: var(--window-text-color-alt);
        }

        b {
            color: var(--blush);
        }

        em {
            color: var(--earthling);
        }

        a {
            text-decoration: none;
            color: inherit;
            text-decoration-skip-ink: none;
            /*
        &:has(i[class^="ph"]) {
          display: inline-flex;
          align-items: center;
          height: fit-content;
        }
*/
            &:hover {
                text-decoration: underline;
                text-decoration-style: wavy;
                text-decoration-color: var(--window-text-color-alt);
            }
        }

        span {
            color: inherit;
        }

        > p {
            width: 100%;
            margin: 0;
            white-space: pre-wrap;
        }
    }

    > .title {
        background: var(--window-title-bg-color);
        border-bottom: var(--window-text-color) 2px dashed;
        display: grid;
        grid-template-columns: 1fr 16px;
        grid-template-rows: 1fr;
        align-content: center;
        align-items: center;
        padding-left: 4px;
        padding-right: 4px;
        user-select: none;

        > span {
            font-size: 18px;
            font-weight: bold;
            color: var(--window-text-color);
            text-align: center;
            vertical-align: middle;
            margin: 0;
            letter-spacing: 2pt;
            text-transform: uppercase;
        }
    }
}

.status-cafe {
    width: 350px;
    max-height: 100px;

    > .content {
        background-color: var(--window-bg-color);
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 2px;
        display: grid;
        grid-template-rows: 12px 1fr;
        grid-template-columns: 1fr;
        gap: 8px;
        font-weight: bold;

        > .info {
            font-size: 12px;
            font-weight: bold;
            color: var(--blush);
            user-select: none;
        }

        > .full {
            font-size: 14px;
            color: var(--window-text-color);
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    > .title {
        background: var(--window-title-bg-color);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-content: center;
        align-items: center;
        padding-left: 4px;
        padding-right: 4px;

        > a {
            font-size: 14px;
            font-weight: bold;
            color: var(--window-text-color);
            text-align: center;
            vertical-align: middle;
            margin: 0;
            letter-spacing: 2pt;
            text-transform: uppercase;
            text-decoration: none;
            text-decoration-skip-ink: none;

            &:hover {
                text-decoration: underline;
                text-decoration-color: var(--window-text-color-alt);
                text-decoration-style: wavy;
            }
        }
    }
}

.spinny {
    position: fixed;
    bottom: 12px;
    right: 12px;
    color: var(--window-bg-color);
    font-family: asciid;
    user-select: none;
    will-change: contents;

    > .content {
        display: inline-block;
        font-size: 36px;
        color: inherit;
        text-decoration: none;
        animation: 4s linear infinite running spinny;
    }

    transition: transform ease-in-out 0.4s;

    &:hover {
        transform: translateY(-3px) scale(1.1);
        color: var(--earthling);
        cursor: pointer;
        text-shadow: 2px 2px 4px var(--earthling);
        > .content {
            animation-duration: 2s;
        }
    }
}

@keyframes spinny {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

.webbadges {
    padding-top: 6px;
    width: 80%;

    > p {
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 14px;
        color: var(--window-bg-color-alt);
    }

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        flex-wrap: wrap;

        > * {
            width: 88px;
            height: 31px;
        }
    }
}
