@font-face {
  font-family: asciid;
  src: url(/assets/fonts/asciid.ttf);
}

@font-face {
  font-family: LowresPixel;
  src: url(/assets/fonts/LowresPixel.otf);
}

:root {
  --window-bg-color: #ffeecc;
  --window-bg-color-alt: #ffeeccaa;
  --window-title-bg-color: #ffeecc;
  --window-text-color: #46425e;
  --window-text-color-alt: #46425eaa;
  --blush: #ff6973;
  --earthling: #00b9be;
}

body {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  gap: 8px;
  font-family: "LowresPixel";
}

i {
  user-select: none;
}

.wallpaper {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  inset: 0;
  filter: brightness(0.5);
}

.p-top {
  display: flex;
  align-items: end;
  flex-direction: row;
  justify-content: space-between;
  width: 44rem;

  > .navigate {
    display: flex;
    align-items: start;
    font-size: 15px;
    gap: 8px;
    color: var(--window-bg-color);
    user-select: none;

    > a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-decoration-style: wavy;
        text-decoration-color: var(--window-bg-color-alt);
      }
    }
  }
}

.window,
.status-cafe {
  display: grid;
  grid-template-columns: 8px 1fr 8px;
  grid-template-rows: 8px 24px 1fr 8px;
  image-rendering: pixelated;

  > .tl {
    background: url("/assets/images/components/top-left-corner.avif");
    width: 8px;
    height: 8px;
  }

  > .tr {
    background: url("/assets/images/components/top-right-corner.avif");
    width: 8px;
    height: 8px;
  }

  > .br {
    background: url("/assets/images/components/bottom-right-corner.avif");
    width: 8px;
    height: 8px;
  }

  > .bl {
    background: url("/assets/images/components/bottom-left-corner.avif");
    width: 8px;
    height: 8px;
  }

  > .t {
    background: url("/assets/images/components/top-border.avif") repeat-x;
  }

  > .b {
    background: url("/assets/images/components/bottom-border.avif") repeat-x;
  }

  > .l {
    background: url("/assets/images/components/left-border.avif") repeat-y;
  }

  > .r {
    background: url("/assets/images/components/right-border.avif") repeat-y;
  }

  .exit-button {
    background: url("/assets/images/components/exit-button.avif");
    width: 16px;
    height: 16px;
  }

  .rectangular-thing {
    background: url("/assets/images/components/rectangle.avif");
    width: 16px;
    height: 16px;
  }

  .minus-thing {
    background: url("/assets/images/components/minus.avif");
    width: 16px;
    height: 16px;
  }

  /* yeah,, i dont know what those things are called */
}

#home,
#contacts {
  display: none;
}

.active {
  display: flex !important;
}

.window {
  width: 44rem;

  > .content {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: var(--window-bg-color);
    line-height: 1.6rem;
    font-size: 15px;
    color: var(--window-text-color);
    text-align: left;
    height: 20rem;

    > div {
      display: none;
      flex-direction: column;

      ul {
        list-style-type: "⋆ ";
        margin: 0;
        padding-left: 1rem;
        font-size: inherit;

        li {
          margin: 2pt 0;
        }
      }

      h3 {
        font-size: 18px;
        margin: 5pt 0;
        text-align: center;
      }

      i {
        color: var(--window-text-color-alt);
      }

      b {
        color: var(--blush);
      }

      em {
        color: var(--earthling);
      }

      a {
        text-decoration: none;
        color: inherit;
        text-decoration-skip-ink: none;
        /*
        &:has(i[class^="ph"]) {
          display: inline-flex;
          align-items: center;
          height: fit-content;
        }
*/
        &:hover {
          text-decoration: underline;
          text-decoration-style: wavy;
          text-decoration-color: var(--window-text-color-alt);
        }
      }
    }

    span {
      color: inherit;
    }

    p {
      width: 100%;
      margin: 0;
      white-space: pre-wrap;
    }
  }

  > .title {
    background: var(--window-title-bg-color);
    border-bottom: var(--window-text-color) 2px dashed;
    display: grid;
    grid-template-columns: 1fr 16px;
    grid-template-rows: 1fr;
    padding-left: 4px;
    padding-right: 4px;
    user-select: none;

    > span {
      font-size: 18px;
      color: var(--window-text-color);
      text-align: center;
      vertical-align: middle;
      margin: 0;
      letter-spacing: 2pt;
      text-transform: uppercase;
    }
  }
}

.status-cafe {
  width: 350px;
  max-height: 100px;

  > .content {
    background-color: var(--window-bg-color);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    display: grid;
    grid-template-rows: 12px 1fr;
    grid-template-columns: 1fr;
    gap: 8px;

    > .info {
      font-size: 12px;
      color: var(--blush);
      user-select: none;
    }

    > .full {
      font-size: 14px;
      color: var(--window-text-color);
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  > .title {
    background: var(--window-title-bg-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;

    > a {
      font-size: 14px;
      color: var(--window-text-color);
      text-align: center;
      vertical-align: middle;
      margin: 0;
      letter-spacing: 2pt;
      text-transform: uppercase;
      text-decoration: none;
      text-decoration-skip-ink: none;

      &:hover {
        text-decoration: underline;
        text-decoration-color: var(--window-text-color-alt);
        text-decoration-style: wavy;
      }
    }
  }
}

.spinny {
  position: fixed;
  bottom: 12px;
  right: 12px;
  color: var(--window-bg-color);
  font-family: asciid;
  user-select: none;
  will-change: contents;
  animation: spinny 3.5s linear infinite;

  > .content {
    display: inline-block;
    font-size: 36px;
    color: inherit;
    text-decoration: none;
  }

  transition: transform ease-in-out 0.4s;

  &:hover {
    transform: translateY(-3px) scale(1.1);
    color: var(--earthling);
    cursor: pointer;
    text-shadow: 2px 2px 4px var(--earthling);
    > .content {
      animation-duration: 2s;
    }
  }
}

@keyframes spinny {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

.webbadges {
  padding-top: 6px;
  width: 80%;

  > p {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 12px;
    color: var(--window-bg-color-alt);
    padding-top: 5px;
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
    padding-top: 4px;

    > * {
      width: 88px;
      height: 31px;
      will-change: transform;
      transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &:hover {
        transform: scale(1.04) translateY(-3px);
      }
    }
  }
}

@media (max-width: 730px) {
  body {
    overflow: unset;
  }

  .window {
    width: 95%;
  }

  .p-top {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    gap: 8px;
  }

  .spinny {
    display: none;
  }

  .webbadges {
    padding-top: 0;
  }
}
